/* Payment Page Container */
.payment-page-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4; /* Light grey background to avoid white */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5%;
}

/* Title */
.payment-page-title {
    font-size: 2em;
    text-align: center;
    color: #232F3E;
    margin-bottom: 20px;
}

input::placeholder {
    color: rgba(255, 0, 0, 0.7);
}


/* Amount to Pay */
.payment-page-amount {
    font-size: 1.5em;
    color: #FF9900;
    text-align: center;
    margin-bottom: 20px;
}

/* Payment Methods */
.payment-page-methods {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.payment-page-method {
    display: flex;
    align-items: center;
    background-color: #f4f4f4; /* Use a non-white color */
    padding: 0px;
    border-radius: 4px;
}

.payment-option-text {
    margin-left: 8px;
    font-size: 1em;
    color: #232F3E;
}

/* Card Details */
.payment-page-card-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.payment-page-card-details input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background-color: #e0e0e0; /* Light grey background */
    color: #232F3E;
}

/* UPI Details */
.payment-page-upi-details {
    margin-bottom: 20px;
}

.payment-page-upi-details input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background-color: #e0e0e0; /* Light grey background */
    color: #232F3E;
}

/* Pay Button */
.payment-page-pay-btn {
    background-color: #FF9900;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    display: block;
    width: 100%;
}

.payment-page-pay-btn:hover {
    background-color: #e68a00;
}