/* Products.css */

body, html {
    height: auto;
    min-height: 100%;
    overflow-y: auto;
  }
  
  .products-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
  }
  
  .filter-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .product-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
  }
  
  .product-card h3 {
    font-size: 1rem;
    margin: 10px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  
  .product-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-bottom: 1px solid #eee;
  }
  
  .product-card p {
    margin: 10px;
    font-size: 0.9rem;
    color: #666;
  }

  #prod-title{
    color: rgb(0, 0, 0);
  }
  
  .product-card button {
    display: block;
    width: calc(100% - 20px);
    margin: 10px;
    padding: 10px;
    background: #ff9933;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .product-card button:hover {
    background: linear-gradient(to right, #ff9933, #ff3366);
  }
  
  @media (max-width: 768px) {
    .product-list {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  
    .product-card h3 {
      font-size: 0.9rem;
    }
  
    .product-card p {
      font-size: 0.8rem;
    }
  
    .product-card button {
      font-size: 0.8rem;
    }
  }